## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb 
import matplotlib.pyplot as plt

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [8]:
tickers = ['WMT','FB']
my_data = pd.DataFrame()
for t in tickers:
    my_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

my_data.head()

                  WMT  FB
Date
2007-01-03  35.352020 NaN
2007-01-04  35.523041 NaN
2007-01-05  35.233074 NaN
2007-01-08  34.943127 NaN
2007-01-09  35.233074 NaN

In [9]:
my_data.tail()

                   WMT          FB
Date
2019-06-06  105.110001  168.330002
2019-06-07  106.059998  173.350006
2019-06-10  107.519997  174.820007
2019-06-11  107.940002  178.100006
2019-06-12  108.820000  175.039993

In [11]:
sec_returns = np.log(my_data / my_data.shift(1))
sec_returns

                 WMT        FB
Date
2007-01-03       NaN       NaN
2007-01-04  0.004826       NaN
2007-01-05 -0.008196       NaN
2007-01-08 -0.008263       NaN
2007-01-09  0.008263       NaN
2007-01-10 -0.002324       NaN
2007-01-11  0.006745       NaN
2007-01-12  0.007951       NaN
2007-01-16  0.006854       NaN
2007-01-17 -0.002280       NaN
2007-01-18  0.003934       NaN
2007-01-19 -0.001654       NaN
2007-01-22 -0.007271       NaN
2007-01-23 -0.003133       NaN
2007-01-24  0.016595       NaN
2007-01-25 -0.009508       NaN
2007-01-26 -0.010019       NaN
2007-01-29 -0.000839       NaN
2007-01-30 -0.007375       NaN
2007-01-31  0.008634       NaN
2007-02-01  0.001886       NaN
2007-02-02  0.006259       NaN
2007-02-05  0.009110       NaN
2007-02-06  0.001236       NaN
2007-02-07  0.000000       NaN
2007-02-08 -0.005573       NaN
2007-02-09 -0.007063       NaN
2007-02-12 -0.004806       NaN
2007-02-13  0.005015       NaN
2007-02-14 -0.002296       NaN
...              ...       ...
2019-05-01 -0.014496 -0.001915
2019-05-02 -0.002074 -0.002594
2019-05-03  0.009152  0.015155
2019-05-06  0.003716 -0.008167
2019-05-07 -0.011386 -0.021427
2019-05-08 -0.009921 -0.001213
2019-05-09 -0.002308 -0.004707
2019-05-10  0.023531 -0.001645
2019-05-13 -0.020021 -0.036773
2019-05-14  0.003996 -0.004472
2019-05-15 -0.004097  0.030193
2019-05-16  0.014216  0.003858
2019-05-17 -0.004452 -0.009079
2019-05-20  0.006522 -0.014021
2019-05-21 -0.003948  0.011427
2019-05-22  0.010917  0.002702
2019-05-23 -0.003626 -0.024306
2019-05-24  0.007921  0.001050
2019-05-28 -0.002438  0.017791
2019-05-29 -0.002933 -0.011569
2019-05-30  0.000685  0.004491
2019-05-31 -0.007366 -0.030739
2019-06-03  0.005113 -0.078021
2019-06-04  0.005867  0.020203
2019-06-05  0.017973  0.003992
2019-06-06  0.006586  0.000951
2019-06-07  0.008998  0.029386
2019-06-10  0.013672  0.008444
2019-06-11  0.003899  0.018588
2019-06-12  0.008120 -0.017331

[3132 rows x 2 columns]

### Facebook vs. Walmart

In [15]:
print(sec_returns['FB'].mean() * 250)
print(sec_returns['WMT'].mean() * 250)

0.21416018371945958
0.08977480016191047

In [19]:
sec_returns[['FB','WMT']].std() * 250 ** 0.5

FB     0.364860
WMT    0.196945
dtype: float64

*** we can observe that Facebook has a greater annual return with 21.41%. However, it also contains a higher risk since its standard deviation is 0.36.

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [17]:
cov_matrix = sec_returns.cov()
cov_matrix

          WMT        FB
WMT  0.000155  0.000024
FB   0.000024  0.000532

Correlation matrix:

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

          WMT        FB
WMT  1.000000  0.090111
FB   0.090111  1.000000

Would you consider investing in such a portfolio?

Yes, because we can observe that the correlation is weak. Thus, this portfolio is well diversified as these companies are fairly independent from each other.